services:
  discord-uploader:
    build: .
    container_name: discord_uploader
    ports:
      - "8004:80"
    environment:
      - DISCORD_WEBHOOK_URL=${DISCORD_WEBHOOK_URL}
      - MAX_UPLOAD_SIZE=${MAX_UPLOAD_SIZE:-25}
    restart: always
